body {
    background-image: url("../imgs/farmstand.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.logo {
    background-image: url("../imgs/logo.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 151px;
    width: 288px;
    border: solid black;
}
.maps {
    border: 0;
    float: right;
    width: 400px;
    height: 320px;
    border: solid darkgray;
}
.fb {
    border: none;
    overflow: hidden;
    padding-top: 8px;
    width: 288px;
    height: 46px;
}
/* Change Google Maps layout on small screens */
@media all and (max-width: 709px) {
    .maps {
        width: 288px;
        height: 151px;
        float: left;
    }
}