body {
    margin: 0;
    padding: 0;
    background-image: url("../imgs/graybackground.jpg");
    background-repeat: repeat;
}
.title {
    margin: 0px;
    padding: 8px;
}
.titleLogo {
    margin: 5px;
}
div {
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.bigContent {
    height: 90vh;
    width: 100%;
    background-position: center;
}
.splitContentWrapper {
    display: table;
}
.splitContent {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    background-position: center;
}
.imgSplitContent {
    width: 60%;
}
.textSplitContentWrapper {
    width: 40%;
}
.home {
    background-image: url("../imgs/farmstand.jpg");
}
.pie {
    background-image: url("../imgs/pie.jpg");
}
.syrup {
    background-image: url("../imgs/syrup.jpg");
}
.trees {
    background-image: url("../imgs/trees.jpg");
}
.firewood {
    background-image: url("../imgs/firewood.jpg");
}
.meat {
    background-image: url("../imgs/meat.png");
}
.hay {
    background-image: url("../imgs/hay.jpg");
}
.plowing {
    background-image: url("../imgs/plowing.jpg");
}
.fruitsAndVeggies {
    background-image: url("../imgs/fruitsandveggies.jpg");
}
.pickyourown {
    background-image: url("../imgs/pickyourown.jpg");
}
.localWares {
    background-image: url("../imgs/localwares.jpg");
}
.footer {
    background-color: black;
    height: 151px;
    width: 100%;
    color: white;
    display: table;
}
.footerLogo {
    margin: 0 auto;
}
.footerText {
    vertical-align: middle;
}
.footerCell {
    display: table-cell;
    width: 50%;
}
.logoWrapper {
    float: left;
    margin: 5px;
}
.logo {
    background-image: url("../imgs/logo.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 151px;
    width: 288px;
    border: solid black;
}
.maps {
    border: 0;
    float: right;
    width: 400px;
    height: 320px;
    border: solid darkgray;
    margin: 8px;
    padding: 0px;
}
.fb {
    border: none;
    overflow: hidden;
    padding-top: 8px;
    width: 288px;
    height: 46px;
    padding: 0px;
}
@media all and (max-width: 600px) {
    .imgSplitContent {
        height: 45vh;
        width: 100%;
    }
    .textSplitContentWrapper {
        height: 45vh;
        width: 100%;
    }
    .splitContent {
        display: block;
    }
    .splitContentWrapper {
        display: block;
        border-top: solid black 2px;
        border-bottom: solid black 2px;
    }
    .footer {
        display: block;
        height: 302px;
    }
    .footerCell {
        display: block;
        width: 100%;
    }
}
